
.tableItem {
  cursor: pointer;
}

.table {
  width: fit-content;
  font-family: "pretendard", sans-serif;
}

.voteWarning {
  margin-top: 10px;
  width: fit-content;
  font-family: "pretendard", sans-serif;

  #bold {
    color: red;
    font-weight: 600;
    background: #ffff00;
  }
}