.sidebarTitle {
  margin-top: 20px;
  margin-bottom: 20px;
  user-select: none;

  .text {
    font-family: 'pretendard', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: black;
    line-height: 25px;
  }

  #titleGradient {
    background: linear-gradient(to right top, #0575E6, #021B79);
    color: transparent;
    -webkit-background-clip: text;
  }
}

.logout {

  background: #000000;
  padding: 10px 20px;
  cursor: pointer;
  width: fit-content;
  margin: auto;
  border-radius: 30px;
  margin-bottom: 20px;

  .text {
    text-align: center;
    font-family: 'pretendard', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: white;
    user-select: none;
  }
}