
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: 'pretendard', sans-serif;
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  color: black;
}

#titleGradient {
  background: linear-gradient(to right top, #0575E6, #021B79);
  color: transparent;
  -webkit-background-clip: text;
}

.description {
  font-family: 'pretendard', sans-serif;
  font-size: 17px;
  font-weight: 300;
  margin-top: 10px;
  color: #6e6e6e;
}

.box {
  margin-top: 20px;
  display: flex;
  flex: 2;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-height: fit-content;
  width: 300px;
  padding: 10px;
  user-select: none;
}

#selectGradient {
  background: linear-gradient(to right top, #a8ff78, #78ffd6);
  border-color: #87cd61;
  box-shadow: 0 5px 20px 0 #a8ff78;
  transition: all .3s ease;
}

.select {
  -webkit-tap-highlight-color: transparent;
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: fit-content;
  border: 1px solid #c8c8c8;
  padding: 15px 10px;
  border-radius: 10px;
  cursor: pointer;
  background: white;
  transition: all .3s ease;

  &:last-child {
    margin-top: 0;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .name {
    font-family: 'pretendard', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: black;
    margin-top: 10px;
  }
}