
.table {
  width: fit-content;
  font-family: "pretendard", sans-serif;
}

.button {
  font-family: "pretendard", sans-serif;
  font-weight: 700;
}

.check {
  margin-bottom: 20px;

  .text {
    font-family: "pretendard", sans-serif;
    font-weight: 500;
    color: black;
  }
}