
.formTitle {
  font-family: "pretendard", sans-serif;
  margin-top: 20px;
}

.inputGroup {
  margin-top: 10px;
}

.inputNumber {
  font-family: "pretendard", sans-serif;
}

.formInput {
  font-family: "pretendard", sans-serif;
  width: 600px !important;

  &:first-child {
    margin-top: 0;
  }
}

.buttonGroup {
  margin-top: 10px;

  .buttonGroupButton {
    font-family: "pretendard", sans-serif;
  }
}

.saveButton {
  margin-top: 20px;
  font-family: "pretendard", sans-serif !important;
}

.resetButton {
  margin-top: 10px;
  font-family: "pretendard", sans-serif !important;
}

.changeStatusButton {
  margin-top: 10px;
  font-family: "pretendard", sans-serif !important;
}

.voteWarning {
  margin-top: 10px;
  width: fit-content;
  font-family: "pretendard", sans-serif;
}